
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495269429603'); /* IE9*/
  src: url('iconfont.eot?t=1495269429603#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495269429603') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495269429603') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495269429603#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gzcx:before { content: "\e600"; }

.icon-exit:before { content: "\e631"; }

.icon-psw:before { content: "\e78d"; }

.icon-up:before { content: "\e66c"; }

.icon-tongji:before { content: "\e77e"; }

.icon-user:before { content: "\e70b"; }

.icon-address:before { content: "\e601"; }

.icon-danwei:before { content: "\e610"; }

.icon-rhzf:before { content: "\e780"; }

.icon-down:before { content: "\e603"; }

.icon-sysM:before { content: "\e606"; }

.icon-tishi:before { content: "\e6b9"; }

.icon-important:before { content: "\e9a7"; }

.icon-gongzuotai:before { content: "\e723"; }

.icon-home:before { content: "\e602"; }

.icon-square:before { content: "\e61f"; }

